<footer class="mt-20 container-sm">
    <div class="d-flex justify-content-between mb-5 ff-az fn-color fw-medium">
        <h1 class="fs-3">FOLLOW US</h1>
        <h1 class="fs-3">SUBSCRIBE TO <br> NEWS LETTER</h1>
        <h1 class="fs-3">A NOSSA PLAYLIST <br> NO SPOTIFY</h1>
        <h1 class="fs-3">CONTACT US</h1>
    </div>
    <div class="line bg-color border-top border-bottom bd-theme border-secondary-color"></div>
    <div class="line bg-color border-top border-bottom bd-theme border-secondary-color"></div>
</footer>