<main>
    <div class="my-5 d-flex">
        <p [routerLink]="['/']" class="ff-az fs-4 fn-color header-item text-end fw-500 ps-8 pointer">VOLTAR</p>
    </div>
    <div class="container-sm mb-5">
        <h1 class="col-12 ff-az fs-a1 fn-color mb-5">SOBRE <br>
            O PROJETO
        </h1>
        <div class="row mt-5">
            <div class="col-7">
                <p class="ff-az fn-color fs-5">Somos impulsionados pela necessidade de celebrar a liberdade de
                    pensamento e expressão, não apenas como um marco histórico, mas como um compromisso contínuo com os
                    valores democráticos.

                </p>
                <br>
                <p class="ff-az fn-color fs-5">Ao longo da história, a música tem sido uma poderosa ferramenta para
                    transmitir ideias, emoções e críticas sociais, especialmente em períodos de opressão e ditadura.
                    Nestes contextos sociais, surgem canções que desafiaram as restrições impostas, demonstrando uma
                    coragem e criatividade admiráveis.
                    <br>
                </p>
                <p class="ff-az fn-color fs-5">
                    Este projeto surge para celebrar cantores e artistas que lutaram pelos seus direitos em tempo de
                    regime autoritários, explorando músicas que conseguiram
                    ou quase conseguiram contornar a censura, as suas metáforas, histórias e contextos socioculturais.
                </p>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</main>