<main>
    <div class="my-5 d-flex">
        <p [routerLink]="['/']" class="ff-az fs-2 fn-color header-item text-end fw-500 ps-8 pointer">VOLTAR</p>
    </div>
    <div class="container-sm">
        <h1 class="col-12 ff-az fs-a1 fn-color mb-5">CENSURA DA MÚSICA
            PORTUGUESA E BRASILEIRA
            NAS DÉCADAS DE 1960 E 1970
        </h1>
        <div class="row mt-5 gy-5">
            <div class="col-6">
                <p class="ff-az fn-color fs-5">Durante as décadas de 1960 e 1970, Brasil e Portugal viveram
                    sob ditaduras. O Golpe de 1964 instaurou um regime autoritário no Brasil, enquanto em Portugal, a
                    ditadura foi contestada, culminando na Revolução dos Cravos em 1974.

                </p>
                <p class="ff-az fn-color fs-5">Ambos os países viram surgir movimentos musicais de
                    resistência, como as "canções de protesto" em Portugal e iniciativas semelhantes no Brasil, apesar
                    das diferenças de organização e impacto.

                </p>
                <p class="ff-az fn-color fs-5">A língua comum e as metáforas utilizadas pelos compositores
                    também coincidiam e diferenciavam Brasil e Portugal de outros casos nacionais, apontando para
                    questionamentos, controle e formas de produção musical semelhantes nos dois países, apesar das
                    diferenças nos regimes ditatoriais.
                </p>
            </div>
            <div class="col-6">
                <img class="w-100 mh-550 object-fit-cover" src="../../assets/img/censura-1.png" alt="">
            </div>

            <div class="col-6">
                <img class="w-100 mh-550 object-fit-cover" src="../../assets/img/censura-2.png" alt="">
            </div>
            <div class="col-6">
                <p class="ff-az fn-color fs-5">A censura e a repressão policial foram usadas em Brasil e Portugal para
                    controlar a produção cultural e a oposição política, resultando em músicas proibidas e perseguição a
                    artistas, alguns exilados. Em Portugal, a censura musical tem raízes na censura religiosa anterior
                    ao século XX.

                </p>
                <p class="ff-az fn-color fs-5">Durante o regime salazarista, o controle sobre a expressão musical foi
                    uma constante. Até o ano de 1972, os discos não estavam sujeitos a censura prévia, resultando na
                    frequente apreensão de discos considerados subversivos pelas autoridades, e na pressão exercida
                    sobre as gravadoras para que evitassem investir em trabalhos que desafiassem a moral e a política
                    vigentes.

            </div>

            <div class="col-6">
                <p class="ff-az fn-color fs-5">A censura foi ampliada para abranger diversas formas de expressão
                    cultural, como livros, discos e exposições de arte, levando os compositores e gravadoras à prática
                    da autocensura por medo de retaliação financeira e pressão governamental.

                </p>
                <p class="ff-az fn-color fs-5">No Brasil, os critérios de censura eram baseados em valores morais
                    cristãos e conservadores militares, vetando canções consideradas ofensivas ao decoro público,
                    incitadoras contra o regime ou que prejudicavam as relações internacionais.

                </p>
                <p class="ff-az fn-color fs-5">Tal legislação permitia interpretações subjetivas, semelhantes às
                    restrições em Portugal. Apesar de contextos diferentes, os métodos de censura e repressão nos países
                    eram similares, indicando estruturas comuns para controlar
                    a oposição.
                </p>
            </div>
            <div class="col-6">
                <img class="w-100 mh-550 object-fit-cover" src="../../assets/img/censura-3.png" alt="">
            </div>

            <div class="col-6 d-flex">
                <h1 class="ff-az fn-color fs-4 border-bottom bd-theme border-color">ARTIGO DE REFERÊNCIA</h1>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>