<main>
    <div class="my-5 d-flex position-relative">
        <p [routerLink]="['/']" class="ff-az fs-4 header-item bd-theme text-end fw-500 ps-8 pointer"
            [class.fn-color-green]="pagina == 3 || pagina == 4" [class.fn-color-blue]="pagina == 1 || pagina == 2"
            [class.border-color-green]="pagina == 3 || pagina == 4"
            [class.border-color-blue]="pagina == 1 || pagina == 2">
            VOLTAR</p>
        @if (pagina == 1) {
        <img class="absolute-img-vinil" src="../../assets/img/vinil-azul-listrado.png" alt="">

        }@else if (pagina == 2) {

        <img class="absolute-img-vinil" src="../../assets/img/vinil-azul-liso.png" alt="">
        }@else if (pagina == 3) {

        <img class="absolute-img-vinil" src="../../assets/img/vinil-verde-listrado.png" alt="">
        }@else if (pagina == 4) {

        <img class="absolute-img-vinil" src="../../assets/img/vinil-verde-liso.png" alt="">
        }
    </div>
    <div class="container-sm mb-8">
        @if (pagina == 1 || pagina == 3) {
        <h1 class="col-12 ff-az fs-a1 mb-8" [class.fn-color-green]="pagina == 3" [class.fn-color-blue]="pagina == 1">
            PLAYLIST<br>
            MÚSICAS CENSURADAS
        </h1>
        }@else if (pagina == 2 || pagina == 4) {
        <h1 class="col-12 ff-az fs-a1 mb-8" [class.fn-color-green]="pagina == 4" [class.fn-color-blue]="pagina == 2">
            PLAYLIST MÚSICAS<br>
            NÃO CENSURADAS
        </h1>
        }

        @if (pagina == 1) {
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-pt-1.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/1sIp7dySW31atcX8QkVSKV?si=e2906ae44ee6480b')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-pt-2.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/3DpxfgwB1qe88Ci8tl6hQ4?si=e6af68570ba14bf1')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-pt-3.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/7HiSeyF57nmzWE8OdMmfpR?si=22b50aae14ff4e49')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-pt-4.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/3XSuxO6YVgUsL2RrLhuUDM?si=8ed71d6be2904662')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-pt-5.png" alt="">
                </div>

            </div>
        </div>
        }

        @if (pagina == 2) {
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/1G0kV398JWt9kB9p1wL4at?si=a67d8e5eced54cfb')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censurada-pt-1.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/1xi8HnK28kOXNLDo5n5wbz?si=4cf6f5f8447f4f7d')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censurada-pt-2.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/2LqAMT4CpAcCPcbBMJ2pTx?si=9ee1f10020cc4550')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censurada-pt-3.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/7pWddrieYq3TwpwgGqnQy6?si=d70149f93287490c')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censurada-pt-4.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/5x4vPEqiO7mzrI2QG3S4YV?si=2ac66ba822044dc9')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censurada-pt-5.png" alt="">
                </div>

            </div>
        </div>
        }

        @if (pagina == 3) {
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/2GAFZG9Z7UGS1iMm4Idrnr?si=d8fc8cb18ff647ba')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-br-1.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/3eVyDZXJPJzUKkyWP6eLyc?si=fec72c6bb7c540e3')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-br-2.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/7Ma62GEwx2NdXnRmLDrCz6?si=a69c42f74aef4246')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-br-3.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/4zTjoiwEMmgQICf4krcDMc?si=47d11628c2e04fb6')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-br-4.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/78lTDfRCqtxSvByIRMiXF2?si=6f95792fe3924718')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/censurada-br-5.png" alt="">
                </div>

            </div>
        </div>
        }

        @if (pagina == 4) {
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/1WLmDv4iF7ZSH3TLSh6c7p?si=9af48179fa9146c9')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censuradas-1.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/0VUgbCK0k8QWGpLiEV8YYZ?si=2ab4a50ae4564dc1')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censuradas-2.png" alt="">
                </div>

            </div>
        </div>
        <div class="row gx-5">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/25bRN2FIjCS3lqxAP4HrX7?si=de3657325ca24e61')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censuradas-3.png" alt="">
                </div>

            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden pointer"
                    (click)="goToLink('https://open.spotify.com/intl-pt/track/6AIViEVtYEhpvko7PDeIda?si=a01aed854892424e')">
                    <img class="w-100 object-fit-cover" src="../../assets/img/nao-censuradas-4.png" alt="">
                </div>

            </div>
        </div>
        }
        <!-- <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden">
                    <img class="w-100 h-600 object-fit-cover" src="https://dreamsthirdeyeinnovativ.in/images/blog/1.jpg"
                        alt="">
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-6">
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Nome:</span> Apesar de Você</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Interprete:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Compositores:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Data:</span> Lançada em 1970</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Metáforas utilizadas:</span></p>
                <br>
                <p class="ff-az fn-color fs-5">Inicialmente foi aprovada, porque parecia falar de uma relação infeliz.
                    No entanto, não demorou muito até que as pessoas se apercebessem que era uma metáfora a criticar a
                    ditadura e assim, apesar do seu sucesso, poucos meses após ter sido lançada, os meios de comunicação
                    receberam uma nota oficial a proibir que passassem a música. Para que não restassem dúvidas, um
                    grupo de militares invadiu a fábrica da editora Phillips e destruiu todas as cópias ainda em
                    estoque. Da mesma forma, os exemplares em venda nas lojas foram recolhidos e destruídos.
                </p>
            </div>
        </div>
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Nome:</span> Apesar de Você</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Interprete:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Compositores:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Data:</span> Lançada em 1970</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Metáforas utilizadas:</span></p>
                <br>
                <p class="ff-az fn-color fs-5">Inicialmente foi aprovada, porque parecia falar de uma relação infeliz.
                    No entanto, não demorou muito até que as pessoas se apercebessem que era uma metáfora a criticar a
                    ditadura e assim, apesar do seu sucesso, poucos meses após ter sido lançada, os meios de comunicação
                    receberam uma nota oficial a proibir que passassem a música. Para que não restassem dúvidas, um
                    grupo de militares invadiu a fábrica da editora Phillips e destruiu todas as cópias ainda em
                    estoque. Da mesma forma, os exemplares em venda nas lojas foram recolhidos e destruídos.
                </p>
            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden">
                    <img class="w-100 h-600 object-fit-cover" src="https://dreamsthirdeyeinnovativ.in/images/blog/1.jpg"
                        alt="">
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
        <div class="row gx-5 mb-8">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden">
                    <img class="w-100 h-600 object-fit-cover" src="https://dreamsthirdeyeinnovativ.in/images/blog/1.jpg"
                        alt="">
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-6">
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Nome:</span> Apesar de Você</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Interprete:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Compositores:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Data:</span> Lançada em 1970</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Metáforas utilizadas:</span></p>
                <br>
                <p class="ff-az fn-color fs-5">Inicialmente foi aprovada, porque parecia falar de uma relação infeliz.
                    No entanto, não demorou muito até que as pessoas se apercebessem que era uma metáfora a criticar a
                    ditadura e assim, apesar do seu sucesso, poucos meses após ter sido lançada, os meios de comunicação
                    receberam uma nota oficial a proibir que passassem a música. Para que não restassem dúvidas, um
                    grupo de militares invadiu a fábrica da editora Phillips e destruiu todas as cópias ainda em
                    estoque. Da mesma forma, os exemplares em venda nas lojas foram recolhidos e destruídos.
                </p>
            </div>
        </div>
        <div class="row gx-5 mb-8">

            <div class="col-6">
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Nome:</span> Apesar de Você</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Interprete:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Compositores:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Data:</span> Lançada em 1970</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Metáforas utilizadas:</span></p>
                <br>
                <p class="ff-az fn-color fs-5">Inicialmente foi aprovada, porque parecia falar de uma relação infeliz.
                    No entanto, não demorou muito até que as pessoas se apercebessem que era uma metáfora a criticar a
                    ditadura e assim, apesar do seu sucesso, poucos meses após ter sido lançada, os meios de comunicação
                    receberam uma nota oficial a proibir que passassem a música. Para que não restassem dúvidas, um
                    grupo de militares invadiu a fábrica da editora Phillips e destruiu todas as cópias ainda em
                    estoque. Da mesma forma, os exemplares em venda nas lojas foram recolhidos e destruídos.
                </p>
            </div>
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden">
                    <img class="w-100 h-600 object-fit-cover" src="https://dreamsthirdeyeinnovativ.in/images/blog/1.jpg"
                        alt="">
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-6">
                <div class="border-rounded rounded-5 overflow-hidden">
                    <img class="w-100 h-600 object-fit-cover" src="https://dreamsthirdeyeinnovativ.in/images/blog/1.jpg"
                        alt="">
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-6">
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Nome:</span> Apesar de Você</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Interprete:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Compositores:</span> Chico Buarque</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Data:</span> Lançada em 1970</p>
                <br>
                <p class="ff-az fn-color fs-5"><span class="fw-bold">Metáforas utilizadas:</span></p>
                <br>
                <p class="ff-az fn-color fs-5">Inicialmente foi aprovada, porque parecia falar de uma relação infeliz.
                    No entanto, não demorou muito até que as pessoas se apercebessem que era uma metáfora a criticar a
                    ditadura e assim, apesar do seu sucesso, poucos meses após ter sido lançada, os meios de comunicação
                    receberam uma nota oficial a proibir que passassem a música. Para que não restassem dúvidas, um
                    grupo de militares invadiu a fábrica da editora Phillips e destruiu todas as cópias ainda em
                    estoque. Da mesma forma, os exemplares em venda nas lojas foram recolhidos e destruídos.
                </p>
            </div>
        </div> -->
    </div>
    <app-footer></app-footer>
</main>