@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'BLASTIMO SANS;';
    src: url('.//assets/fonts/BLASTIMOSANS.ttf') format("truetype");
}

@import "bootstrap";

@import 'bootstrap/scss/bootstrap';

@import "./assets/theme";

.bg-color {
    background-color: var(--color) !important;
}

.bg-secondary-color {
    background-color: var(--secondary-color) !important;
}

.bd-theme.border-color {
    border-top-color: var(--color) !important;
    border-bottom-color: var(--color) !important;
    border-left-color: var(--color) !important;
    border-right-color: var(--color) !important;
}

.bd-theme.border-secondary-color {
    border-top-color: var(--secondary-color) !important;
    border-bottom-color: var(--secondary-color) !important;
    border-left-color: var(--secondary-color) !important;
    border-right-color: var(--secondary-color) !important;
}

.bd-theme.border-color-blue {
    border-top-color: #6597E4 !important;
    border-bottom-color: #6597E4 !important;
    border-left-color: #6597E4 !important;
    border-right-color: #6597E4 !important;
}

.bd-theme.border-color-green {
    border-top-color: #44D352 !important;
    border-bottom-color: #44D352 !important;
    border-left-color: #44D352 !important;
    border-right-color: #44D352 !important;
}


.fn-color-blue {
    color: #6597E4;
}

.fn-color-green {
    color: #44D352;
}

.fn-color {
    color: var(--color) !important;
}


.fn-secondary-color {
    color: var(--secondary-color) !important;
}


.ff-bs {
    font-family: 'BLASTIMO SANS' !important;
}

.ff-az {
    font-family: "Azeret Mono", monospace !important;
}