.line {
    transform: translateY(0px) rotate(0deg);
    animation-timeline: view(block);
    animation-fill-mode: both;
}

.first {
    animation-range: 300px;
    animation-name: first;
}

@keyframes first {
    to {
        transform: translateY(2px);
    }
}

.second {
    animation-range: 300px;
    animation-name: second;
}

@keyframes second {
    to {
        transform: translateY(4px);
    }
}

.third {
    animation-name: third;
}

@keyframes third {
    to {
        transform: translateY(6px);
    }
}

.fourth {
    animation-name: fourth;
}

@keyframes fourth {
    to {
        transform: translateY(12px) rotate(1deg);
    }
}

.fifth {
    animation-name: fifth;
    animation-range: 800px contain 2500px;
}

@keyframes fifth {
    to {
        transform: translateY(400px);
    }
}

.sixth {
    animation-name: sixth;
    animation-range: 750px contain 2500px;
}

@keyframes sixth {
    to {
        transform: translateY(400px);
    }
}

.eigth {
    animation-name: eigth;
    animation-range: 700px contain 2500px;
}

@keyframes eigth {
    to {
        transform: translateY(400px);
    }
}

.nineth {
    animation-name: nineth;
    animation-range: 600px contain 2500px;
}

@keyframes nineth {
    to {
        transform: translateY(595px) rotate(17deg);
    }
}

.ten {
    animation-name: ten;
    animation-range: 550px contain 2500px;
}

@keyframes ten {
    to {
        transform: translateY(600px) rotate(17deg);
    }
}

.eleven {
    animation-name: eleven;
    animation-range: 500px contain 2500px;
}

@keyframes eleven {
    to {
        transform: translateY(630px) rotate(15deg);
    }
}

.twelve {
    animation-name: twelve;
    animation-range: 400px contain 2500px;
}

@keyframes twelve {
    to {
        transform: translateY(840px) rotate(-5deg);
    }
}

.thirten {
    animation-range: 350px contain 2500px;
    animation-name: thirten;
}

@keyframes thirten {
    to {
        transform: translateY(900px) rotate(0deg);
    }
}

.fourten {
    animation-range: 300px contain 2500px;
    animation-name: fourten;
}

@keyframes fourten {
    to {
        transform: translateY(1000px) rotate(8deg);
    }
}


.fiften {
    animation-name: fiften;
    animation-range: 200px contain 2500px;
}

@keyframes fiften {
    to {
        transform: translateY(1150px) rotate(20deg);
    }
}

.sixten {
    animation-name: sixten;
    animation-range: 100px contain 2500px;
}

@keyframes sixten {
    to {
        transform: translateY(1300px) rotate(28deg);
    }
}

.pt.overlay-vinil-listrado {
    animation-name: vinil;
    transform: translateX(600px) rotate(90deg);
    animation-timeline: view(block);
    animation-range: 20% 55%;
    animation-fill-mode: both;

}

.pt.overlay-vinil-liso {
    animation-name: vinil;
    transform: translateX(600px) rotate(90deg);
    animation-timeline: view(block);
    animation-range: 30% 55%;
    animation-fill-mode: both;

}

.br.overlay-vinil-listrado {
    animation-name: vinil;
    transform: translateX(-600px) rotate(-90deg);
    animation-timeline: view(block);
    animation-range: 20% 55%;
    animation-fill-mode: both;

}

.br.overlay-vinil-liso {
    animation-name: vinil;
    transform: translateX(-600px) rotate(-90deg);
    animation-timeline: view(block);
    animation-range: 30% 55%;
    animation-fill-mode: both;

}

@keyframes vinil {
    to {
        transform: translateY(0px) rotate(0deg);
    }
}