<main>
    <div class="my-5 d-flex justify-content-end">
        <div class="theme-switcher">
            <p (click)="onThemeSwitchChange()">dark</p>
        </div>
        <p [routerLink]="['/sobre-o-projeto']" class="ff-az fs-4 fn-color header-item text-end fw-500 pe-5 pointer">
            SOBRE O
            PROJETO</p>
    </div>
    <div class="container-sm">
        <h1 class="ff-bs fn-color main-title lh-base text-center">ENTRELINHAS</h1>
    </div>

    <section class="h-1800 main">
        <div class="container-sm">
            <!-- <div class="line bg-color"></div>
            <div class="line bg-color first"></div>
            <div class="line bg-color second"></div>
            <div class="line bg-color third"></div>
            <div class="line bg-color fourth"></div> -->
            <div class="line bg-color fifth"></div>
            <div class="line bg-color sixth"></div>
            <div class="line bg-color eigth"></div>
            <div class="line bg-color nineth"></div>
            <div class="line bg-color ten"></div>
            <div class="line bg-color eleven"></div>
            <div class="line bg-color twelve"></div>
            <div class="line bg-color thirten"></div>
            <div class="line bg-color fourten"></div>
            <div class="line bg-color fiften"></div>
            <div class="line bg-color sixten"></div>
        </div>
    </section>

    <section class="mt-10">
        <div class="container-sm">
            <div>
                <h1 class="ff-az fs-a1 fn-color mb-5">CENSURA DA MÚSICA
                    <span class="fn-color">BRASILEIRA</span> E <span class="fn-color">PORTUGUESA</span>
                    NAS DÉCADAS DE 1960 E 1970
                </h1>
                <img class="w-100 mh-550 object-fit-cover" src="../../assets/img/censura-musica.png" alt="">
                <p class="ff-az fn-color fs-6 mt-3">
                    Durante as décadas de 1960 e 1970, Brasil e Portugal viveram sob ditaduras. O Golpe de 1964 instaurou um regime autoritário no Brasil, enquanto em Portugal, a ditadura foi contestada, culminando na Revolução dos Cravos em 1974. Ambos os países viram surgir movimentos musicais de resistência, como as "canções de protesto" em Portugal e iniciativas semelhantes no Brasil, apesar das diferenças de organização e impacto.
                </p>
                <h1 class="ff-az fn-color fs-4 border-bottom bd-theme border-color mt-4 pointer w-fit-content" [routerLink]="['/censura']">LER MAIS</h1>
                <!-- <div class="col-12 row justify-content-around">
                    <div class="col-6 bg-color p-4 border-rounded rounded-3 rotate-8 h-fit-content">
                        <p class="ff-az fn-secondary-color fs-5">
                            Durante as décadas de 1960 e 1970,
                            o Brasil e Portugal passaram
                            por períodos de ditadura que influenciaram tanto a esfera
                            política quanto a cultural.
                        </p>
                        <p class="ff-az fn-secondary-color fs-5">No contexto brasileiro, o Golpe
                            de 1964 resultou na ascensão
                            de um regime autoritário, enquanto
                            em Portugal, movimentos estudantis
                            e políticos radicalizaram-se contra
                            a ditadura, culminando na Revolução dos Cravos em 1974.
                        </p>
                    </div>
                    <div class="col-5 bg-color p-4 border-rounded rounded-3 h-fit-content">
                        <p class="ff-az fn-secondary-color fs-5">
                            Ambos os países viram surgir movimentos musicais de revolta,
                            como as "canções de protesto"
                            em Portugal e iniciativas similares no Brasil, embora com diferenças significativas em
                            termos
                            de organização e impacto.
                        </p>
                        <p class="ff-az fn-secondary-color fs-4 text-end mt-5 pointer mb-0">CONTINUAR A LER +</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section class="mt-40 position-relative">
        <div class="overlay-vinil-liso pt pointer vinil-animation" [routerLink]="['/playlist-nao-censurada-portugal']">
            <img src="../../assets/img/vinil-azul-liso.png" alt="" (mouseover)="ptliso = !ptliso"
                (mouseleave)="ptliso = !ptliso">
        </div>
        <div class="overlay-vinil-listrado pt pointer vinil-animation" [routerLink]="['/playlist-censurada-portugal']">
            <img src="../../assets/img/vinil-azul-listrado.png" alt="" (mouseover)="ptlistrado = !ptlistrado"
                (mouseleave)="ptlistrado = !ptlistrado">
        </div>
        <div class="container-sm line-static-right position-relative">
            <h1 class="ff-az fs-a1 fn-color-blue mb-4">MÚSICA PORTUGUESA</h1>
            <div class="ff-az fn-color-blue border-top border-bottom bd-theme border-color-blue pt-3">
                <p class="border-top border-bottom bd-theme border-color-blue ts-1" [class.fn-color]="ptliso">
                    Playlist Músicas Não Censuradas
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue ts-1" [class.fn-color]="ptlistrado">
                    Playlist Músicas Censuradas
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-blue fn-secondary-color">
                    -
                </p>
            </div>
        </div>
    </section>

    <section class="mt-60 position-relative">
        <div class="overlay-vinil-liso br pointer vinil-animation" [routerLink]="['/playlist-nao-censurada-brasil']">
            <img src="../../assets/img/vinil-verde-liso.png" alt="" (mouseover)="brliso = !brliso"
                (mouseleave)="brliso = !brliso">
        </div>
        <div class="overlay-vinil-listrado br pointer vinil-animation" [routerLink]="['/playlist-censurada-brasil']">
            <img src="../../assets/img/vinil-verde-listrado.png" alt="" (mouseover)="brlistrado = !brlistrado"
                (mouseleave)="brlistrado = !brlistrado">
        </div>
        <div class="container-sm text-end line-static-left position-relative">
            <h1 class="ff-az fs-a1 fn-color-green mb-4">MÚSICA BRASILEIRA</h1>
            <div class="ff-az fn-color-green border-top border-bottom bd-theme border-color-green pt-3">
                <p class="border-top border-bottom bd-theme border-color-green ts-1" [class.fn-color]="brliso">
                    Playlist Músicas Não Censuradas
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green ts-1" [class.fn-color]="brlistrado">
                    Playlist Músicas Censuradas
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
                <p class="border-top border-bottom bd-theme border-color-green fn-secondary-color">
                    -
                </p>
            </div>

        </div>
    </section>

    <section class="mt-60">
        <div class="container-sm">
            <h1 class="ff-az fs-a1 fn-color mb-4">LOJA</h1>
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="border-top bd-theme border-color py-2 px-5">
                        <img class="w-100 h-550 object-fit-contain" src="../../assets/img/caixa.png" alt="">
                    </div>
                    <p class="ff-az fn-color fs-4 text-center border-top bd-theme border-color pt-3 border-15">KIT
                        EDIÇÃO
                        ESPECIAL<br>ENTRELINHAS</p>
                </div>
                <div class="col-6 mb-5">
                    <div class="border-top bd-theme border-color py-2 px-5">
                        <img class="w-100 h-550object-fit-contain" src="../../assets/img/loja-2.png" alt="">
                    </div>
                    <p class="ff-az fn-color fs-4 text-center border-top bd-theme border-color pt-3 border-15">DUPLA
                        LP<br>
                        ENTRELINHAS PT</p>
                </div>
                <div class="col-6 mb-5">
                    <div class="border-top bd-theme border-color py-2 px-5">
                        <img class="w-100 h-550 object-fit-contain" src="../../assets/img/loja-3.png" alt="">
                    </div>
                    <p class="ff-az fn-color fs-4 text-center border-top bd-theme border-color pt-3 border-15">DUPLA
                        LP<br>
                        ENTRELINHAS BR</p>
                </div>
                <div class="col-6 mb-5">
                    <div class="border-top bd-theme border-color py-2 px-5">
                        <img class="w-100 h-550 object-fit-contain" src="../../assets/img/livreto.png" alt="">
                    </div>
                    <p class="ff-az fn-color fs-4 text-center border-top bd-theme border-color pt-3 border-15">
                        ENTRELINHAS<br>
                        T-SHIRT</p>
                </div>
                <div class="col-6 mb-5">
                    <div class="border-top bd-theme border-color py-2 px-5">
                        <img class="w-100 h-550 object-fit-contain" src="../../assets/img/tshirt.png" alt="">
                    </div>
                    <p class="ff-az fn-color fs-4 text-center border-top bd-theme border-color pt-3 border-15">
                        ENTRELINHAS<br>
                        CARTAZ</p>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</main>