.box {
    width: 100px;
    height: 100px;
    background-color: black;
}

.main-title {
    font-size: 28rem;
}

.animation-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    .first-block {
        height: 50vh;
    }
}

.br.overlay-vinil-listrado {
    top: -50%;
    left: -13%;
    z-index: 1;

    img:hover {
        transform: translateX(120px) rotate(35deg);
    }
}

.br.overlay-vinil-liso {
    top: -50%;
    z-index: 2;
    left: -34%;

    img:hover {
        transform: translateX(120px) rotate(35deg);
    }
}

.pt.overlay-vinil-listrado {
    top: -50%;
    right: -13%;
    z-index: 1;

    img:hover {
        transform: translateX(-120px) rotate(-35deg);
    }
}

.pt.overlay-vinil-liso {
    top: -50%;
    z-index: 2;
    right: -34%;

    img:hover {
        transform: translateX(-120px) rotate(-35deg);
    }
}

.pt.overlay-vinil-liso,
.pt.overlay-vinil-listrado,
.br.overlay-vinil-liso,
.br.overlay-vinil-listrado {
    position: absolute;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition-duration: 1s;

    }
}


.rotate-8 {
    transform: rotate(-6deg);
}

.line-static-right::before {
    content: "";
    width: 1050px;
    height: 20px;
    background-color: var(--color);
    position: absolute;
    bottom: -90%;
    transform: rotate(44deg);
}

.line-static-left::before {
    content: "";
    width: 1050px;
    height: 20px;
    background-color: var(--color);
    position: absolute;
    bottom: -80%;
    transform: rotate(-44deg);
    right: 0;
}