.box {
    width: 100px;
    height: 100px;
    background-color: black;
}

.main-title {
    font-size: 33rem;
}

.animation-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

    .first-block {
        height: 50vh;
    }
}

.br.overlay-vinil-listrado {
    position: absolute;
    top: -50%;
    left: -51%;
    z-index: 1;
}

.br.overlay-vinil-liso {
    position: absolute;
    top: -50%;
    z-index: 2;
    left: -78%;
}

.pt.overlay-vinil-listrado {
    position: absolute;
    top: -50%;
    right: -51%;
    z-index: 1;
}

.pt.overlay-vinil-liso {
    position: absolute;
    top: -50%;
    z-index: 2;
    right: -78%;
}


.rotate-8 {
    transform: rotate(-6deg);
}

.line-static-right::before {
    content: "";
    width: 1050px;
    height: 20px;
    background-color: var(--color);
    position: absolute;
    bottom: -120%;
    transform: rotate(44deg);
}

.line-static-left::before {
    content: "";
    width: 1050px;
    height: 20px;
    background-color: var(--color);
    position: absolute;
    bottom: -120%;
    transform: rotate(-44deg);
    right: 0;
}